.box-btn {
  text-align: center;
}

.btn {
  @include appearance(none);
}

.btn{
    &-primary{
        padding: 0.5rem 1rem;
        color: $text-white;
        background-color: transparent;
        border: 1px solid $text-white;
        cursor: pointer;
    }
    &-secondary{
        padding: 0.5rem 1rem;
        color: $text-black;
        background-color: transparent;
        border: 1px solid $text-black;
        cursor: pointer;
    }
}
