@import '../../../assets/styles/variables.scss';

:host {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  position: relative;
  align-items: center;

  .bg-image {
    background-image: url('../../../assets/images/postulation/submit-image.jpg');
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: 0.3;
  }

  button {
    z-index: 1;
  }

  p {
    z-index: 1;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
  }
}

@media screen and (max-width: $breakpoint-s) {
  :host {
    p {
      font-size: 1rem;
    }

    button {
      font-size: 0.7rem;
    }
  }
}
