@import '../../../assets/styles/variables.scss';

#menu {
  position: absolute;
  width: calc(100% - 24vw);
  padding: 0 12vw;
  height: 6.25rem;
  z-index: 1;
  background: rgba(36, 36, 36, 0.8);
  background: -moz-linear-gradient(top, rgba(36, 36, 36, 0.8) 0%, rgba(209, 209, 209, 0.8) 0%, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36, 36, 36, 0.8)), color-stop(0%, rgba(209, 209, 209, 0.8)), color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(36, 36, 36, 0.8) 0%, rgba(209, 209, 209, 0.8) 0%, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(36, 36, 36, 0.8) 0%, rgba(209, 209, 209, 0.8) 0%, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(36, 36, 36, 0.8) 0%, rgba(209, 209, 209, 0.8) 0%, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(36, 36, 36, 0.8) 0%, rgba(209, 209, 209, 0.8) 0%, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#FFFFFF', GradientType=0);

  ul {
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 0 0 0;
    margin: 0;
    list-style-type: none;

    h1 {
      cursor: pointer;
      font-size: 1.6rem;
      margin: 0;

      &:focus {
        outline-color: $ui-focus;
        outline-style: auto;
        outline-width: 1px;
      }
    }

    li {
      color: $text-white;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      span {
        cursor: pointer;

        &:visited {
          text-decoration: none;
          color: white;
        }

        &:focus {
          outline: $ui-focus;
          outline-style: auto;
          outline-width: 1px;
        }
      }

      i {
        font-size: 2rem;
        cursor: pointer;
      }

    }
  }
}

#menu-btn {
  display: none;
}

@media screen and (max-width: $breakpoint-s) {
  #menu {
    display: block;
    height: 0;
    width: 0;
    left: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;

    ul {
      height: 100%;
      width: 100%;
      background: $bg-grey-votes;
      padding: 0;
      display: block;
      padding-left: 4rem;
      margin: 0;
    }

    // responsive menu
    &.active {
      height: 70%;
      width: 80%;

      ul {
        background: $bg-grey-votes;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
          height: 100%;
          width: 75%;
          border-bottom: 1px solid $bg-white;
          background-color: #ffffff66;
          color: $text-black;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        li {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: start;
          height: 100%;

          span {
            height: 100%;
            width: 75%;
            border-bottom: 1px solid $bg-white;
            background-color: #ffffff66;
            color: $text-black;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          i {
            display: none;
          }
        }
      }
    }
  }

  #menu-btn {
    display: block;
    position: fixed;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    background: transparent;
    border: 0;
    z-index: 1;

    .line {
      display: block;
      position: absolute;
      width: 95%;
      height: 0.35rem;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      background: $text-black;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 0.35rem;
      }

      &::before {
        width: 100%;
        left: 0;
        top: -0.87rem;
        background: $text-black;
      }

      &::after {
        width: 90%;
        left: 0;
        top: 0.87rem;
        background: $text-black;
      }
    }
  }
}
