<nav id="menu">
    <ul>
        <li>
            <h1 routerLink="">Rule of Thumb.</h1>
        </li>
        <li>
            <span routerLink="past-trials">Past Trials</span>
            <span routerLink="how-it-works">How it Works</span>
            <span>Log In/Sign Up</span>
            <i class="fas fa-search"></i>
        </li>
    </ul>
</nav>
<button type="button" (click)="toggleMenu()" id="menu-btn"><span class="line"></span></button>