@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins';

:host {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.125rem;
  background-color: #8c8c8c;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 0;

  figure {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

    img {
      height: 100%;
      position: absolute;
      z-index: 0;
      mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0 0 0)), to(rgb(0 0 0 / 49%)));
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0 0 0)), to(rgb(0 0 0 / 49%)));
    }
  }


  .card-info {
    color: $text-white;
    margin-right: 3rem;
    z-index: 1;
    font-size: 0.7rem;

    .card-header {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.5rem;

    }

    .card-main {
      margin-left: 2.5rem;

      .votes-info-date {
        font-size: 0.7rem;
      }

      p {
        font-size: 0.9rem;
      }

    }

    .votes-info-title {
      margin: 0 0.31rem;
      text-transform: capitalize;
      font-size: 2.2rem;
    }

    .thumb-icon {
      border: none;
      color: $text-white;
      padding: 0.5rem;
      cursor: pointer;
      margin-right: 0.4rem;

      &:disabled {
        border: 0.125rem solid $text-white;
      }
    }

    .button-like {
      background-color: $ui-positive;
    }

    .button-dislike {
      background-color: $ui-negative;
    }
  }

  #bar-container {
    display: flex;
    margin-top: 1rem;
    z-index: 1;
    align-items: flex-end;

    .likes {
      width: 50%;
      @include bar($ui-positive);

      .like-text {
        color: $bg-white;
        font-size: 1.7rem;
      }
    }

    .dislikes {
      width: 50%;
      @include bar($ui-negative);

      .dislike-text {
        color: $bg-white;
        display: flex;
        justify-content: flex-end;
        font-size: 1.7rem;
      }
    }

    .fas {
      margin: 0 0.3rem;
    }
  }
}

@media screen and (max-width: $breakpoint-s) {
  :host {
    .card-info {
      h5 {
        font-size: 1.7rem;
      }
    }

    .card-main {
      .votes-info-date {
        font-size: 0.6rem;
      }

      p {
        font-size: 0.7rem;
      }
    }

    #bar-container {
      .likes {
        padding: 0.3rem 0;

        .like-text {
          font-size: 1.4rem;
        }
      }

      .dislikes {
        padding: 0.3rem 0;

        .dislike-text {
          font-size: 1.4rem;
        }
      }

    }
  }
}
