<figure>
    <img src="../../../assets/images/votes/{{voteInfo.urlPicture}}" alt="{{voteInfo.urlPicture}}">
</figure>
<div class="card-info">
    <div class="card-header">
        <i [ngClass]="[ thumbUpIcon ? 'fa-thumbs-up button-like': 'fa-thumbs-down button-dislike']"
            class="fas thumb-icon"></i>
        <h5 class="votes-info-title">{{voteInfo.name}}</h5>
    </div>
    <div class="card-main">
        <span class="votes-info-date"><strong>{{voteInfo.timeInProfetion}}</strong> in
            {{voteInfo.profession}}</span>
        <p>{{voteInfo.description}}</p>
        <button class="btn thumb-icon button-like" [disabled]="!allowVoting.like" (click)="vote(votesOptions.LIKE)"><i
                class="fas fa-thumbs-up"></i></button>
        <button class="btn thumb-icon button-dislike" [disabled]="!allowVoting.dislike"
            (click)="vote(votesOptions.DISLIKE)"><i class="fas fa-thumbs-down"></i></button>
        <button class="btn btn-primary" (click)="submitVote($event)">{{voteSectionCopies.buttonLabel}}</button>
    </div>
</div>
<div id="bar-container">
    <div class="likes" [ngStyle]="calculateBar(true)">
        <div class="like-text"><i class="fas fa-thumbs-up"></i>{{voteSectionCopies.positivePercentage}}</div>
    </div>
    <div class="dislikes" [ngStyle]="calculateBar(false)">
        <div class="dislike-text">{{voteSectionCopies.negativePercentage}}<i class="fas fa-thumbs-down"></i>
        </div>
    </div>
</div>