<ng-container *ngIf="homeCopies">
    <header>
        <div class="container">
            <article>
                <span class="little-tittle">{{homeCopies.littleTittle}}</span>
                <h2>{{homeCopies.tittle}}</h2>
                <p>{{homeCopies.mainText}}</p>
                <a><u>More information</u></a>
                <span class="question">{{homeCopies.question}}</span>
            </article>
        </div>
        <div id="left-bar">
            <strong>{{homeCopies.dateLabel}}</strong>
        </div>
        <div id="right-bar">
            <time>{{homeCopies.clousingDate}}</time>
        </div>
    </header>
    <main class="container">
        <app-informative-card *ngIf="showCard" (hideInformativeCard)="showCard = false"></app-informative-card>
        <section id="votes-section">
            <h2>Votes</h2>
            <div class="votes-grid">
                <app-vote-card *ngFor="let vote of votesInfo" [voteInfo]="vote"></app-vote-card>
            </div>
        </section>
        <app-postulation-card></app-postulation-card>
    </main>
</ng-container>