@import '../../../assets/styles/variables.scss';

header {
  font-size: 1.4rem;
  background-image: url("../../../assets/images/home/main.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;

  .container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;

    article {
      width: 25vw;
      height: 50vh;
      background-color: rgb(0 0 0 / 48%);
      color: white;
      padding: 1.5rem;

      h2 {
        font-size: 2.5rem;
        margin-top: 0.1rem;
      }

      .little-tittle {
        font-size: 0.9rem;
      }

      p {
        font-size: 1.1rem;
      }

      a {
        font-size: 0.9rem;
      }

      .question {
        display: block;
        margin-top: 1.5rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  #right-bar {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2.7rem;
    width: 70%;
    background: rgba(251, 251, 251, 0.85);
    right: 0;

    time {
      margin-left: 0.5rem;
      font-size: 2rem;
      font-weight: 600;
    }

    ;
  }

  #left-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2.7rem;
    width: 30%;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);

    strong {
      font-size: 0.75rem;
      color: $bg-white;
      margin-right: 0.3rem;
    }
  }
}

#votes-section {
  max-width: 1150px;
  margin: 1.5rem auto;

  h2 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .votes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-rows: minmax(50vh, auto);

  }
}

@media screen and (max-width: $breakpoint-s) {
  header {
    .container {
      article {
        width: 40vw;

        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }

        .question {
          font-size: 1rem;
        }
      }
    }

    #right-bar {
      height: 2rem;

      time {
        font-size: 1.4rem;
      }
    }

    #left-bar {
      height: 2rem;

      strong {
        font-size: 0.65rem;
      }
    }
  }

  #votes-section {
    h2 {
      font-size: 1.8rem;
    }

    .votes-grid {
      grid-gap: 1rem;

    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  header {
    .container {
      justify-content: center;

      article {
        width: 70vw;
      }
    }
  }

  #votes-section {

    .votes-grid {
      grid-template-columns: 1fr;
    }
  }
}
