/* Main app styles */
@import './variables';
@import './mixins';

html {
    background: $bg-white; /* main Background */
    color: $text-black; /* main text color */
}
body {
    margin: 0;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
