@mixin appearance ($value) {
  -webkit-appearance: ($value);
  -moz-appearance: ($value);
  -ms-appearance: ($value);
  -o-appearance: ($value);
  appearance: ($value);
}

@mixin bar ($bar-color) {
  background: $bar-color;
  padding: 0.6rem 0;
}

@mixin trasnparentButton ($borderTextColor) {
  padding: 0.5rem 1rem;
  color: $borderTextColor;
  background-color: transparent;
  border: 1px solid $borderTextColor;
  cursor: pointer;
}

@mixin footerContent ($width) {
  width: $width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
