$font-family-roboto: 'lato', sans-serisf;

$text-black: #000000;
$text-white: #FFFFFF;
$text-gray: #666666;

$bg-white: #FFFFFF;
$bg-grey: #ebebeb;
$bg-grey-votes: #8c8c8c;

$ui-positive: #1cbbb499;
$ui-negative: #cf942f99;
$ui-focus: #FFFFFF;

/* breakpoints -xs -s -m */
$breakpoint-xs: 600px;
$breakpoint-s: 800px;