@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins';

nav {
  margin: 0 12vw;
  background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 0.44rem 0.06rem;
  background-repeat: repeat-x;
  font-size: 1rem;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 0;
    margin: 0;
    color: $text-gray;
    align-items: center;
    list-style-type: none;

    li {

      &.social-media {
        @include footerContent(15%);
      }

      &.text-footer {
        @include footerContent(33%);
      }

      .fa-facebook-square,
      .fa-twitter {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-s) {
  nav {
    margin: 0 5vw;

    ul {
      font-size: 0.8rem;

      li {
        &.text-footer {
          width: 40%;
        }

        &.social-media {
          width: 25%;
        }

        .fa-facebook-square,
        .fa-twitter {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  nav {
    ul {
      li {
        &.text-footer {
          width: 58%;
        }

        &.social-media {
          width: 38%;
        }
      }
    }
  }
}
