<nav>
    <ul>
        <li class="text-footer">
            <a>Terms of Conditions</a>
            <a>Privacy Policy</a>
            <a>Contact US</a>
        </li>
        <li class="social-media">
            <a>Follow Us</a>
            <a><i class="fab fa-facebook-square"></i></a>
            <a><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
</nav>