<div id="main-text">
    <div>Speak out. Be heard.</div>
    <strong>Be counted</strong>
</div>
<div id="secondary-text">
    <span>
        Rule of Thumb i a crowd sourceced court of public opinion where anyone and everyone can speak out and
        speakfreely. it's easy. You share your opinion, we analyze and put the data in a public report.
    </span>
</div>
<div (click)="emitHideCard()" id="close-icon"><i class="fas fa-times"></i></div>