@import '../../../assets/styles/variables.scss';

:host {
  padding: 1.25rem;
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 5fr 15fr 1fr;
  grid-gap: 0.625rem;
  align-items: center;

  #main-text {
    line-height: 1.9rem;
    text-align: start;

    div {
      font-size: 1.25rem;

    }

    strong {
      font-size: 2rem;

    }
  }

  #secondary-text {
    line-height: 1.5rem;
    font-size: 0.8rem;
  }

  #close-icon {
    cursor: pointer;
    text-align: end;
  }

}

@media screen and (max-width: $breakpoint-s) {
  :host {
    #main-text {
      div {
        font-size: 0.9rem;
      }

      strong {
        font-size: 1.1rem;
      }
    }

    #secondary-text {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: $breakpoint-xs) { 
  :host {
    padding: 0.45rem;
    grid-gap: 0.5rem;
  }
}
